<!DOCTYPE html>
<html lang="en">

<head>
    <title>Surfer</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/styles/style.css" />
</head>

<body>
    <h1 class="title">S U R F E R</h1>
    <h2 class="tagline">Discover the web</h2>
    <input id="sbar" class="search" type="text" placeholder="Start searching here...">
    <a id="sbutton" class="button">
        <i class=" fa fa-search"></i>
</body>
<script src="/static/scripts/script.js"></script>

</html>