<!DOCTYPE html>
<html lang="en" active-theme="{{ settings['settings'][0]['theme'] }}">

<head>
    <title>Surfer</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/styles/style.css" />
</head>

<body>
    <input id="sbar" class="search" type="text" placeholder="Start searching here..."
        style="margin-top: 50px; height: 10%;" value="{{ query }}" autocomplete="off">
    <div class=" menu-bar">
        <a id="sbutton" class="button"><i class=" fa fa-search"></i></a>
        <a href="/" class="button"><i class=" fa fa-home"></i></a>
        <a href="/bookmarks" class="button"><i class=" fa fa-bookmark"></i></a>
        <a href="/settings" class="button"><i class=" fa fa-gear"></i></a>
        <a href="/history" class="button"><i class=" fa fa-history"></i></a>
    </div>
    <div class="search-results">
        {% for item in items %}
        <div class="content-card">
            <div class="card-details">
                <div class="card-header">
                    <a href="{{ item['href'] }}">
                        <h2 class="card-title" id="{{ item['id'] }}ctitle">{{ item["title"] }}</h2>
                    </a>
                    <p class="card-summary" id="{{ item['id'] }}csummary">{{ item["body"] }}</p>
                </div>
                <div class="card-bottom" style="margin-top: 10px;">
                    <a id="{{ item['id'] }}~{{ item['href'] }}" class="button save-button"><i
                            class=" fa fa-bookmark"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
<script src="/static/scripts/script.js"></script>
<script src="/static/scripts/search.js"></script>

</html>