<!DOCTYPE html>
<html lang="en">

<head>
    <title>Surfer</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/styles/style.css" />
    <link rel="stylesheet" href="/static/styles/search.css" />
</head>

<body>
    <input id="sbar" class="search" type="text" placeholder="Start searching here..."
        style="margin-top: 50px; height: 10%;" value="{{ query }}">
    <div class="menu-bar">
        <a id="sbutton" class="button"><i class=" fa fa-search"></i></a>
        <a href="/" class="button"><i class=" fa fa-home"></i></a>
        <a href="/bookmarks" class="button"><i class=" fa fa-bookmark"></i> Bookmarks</a>
        <a href="/settings" class="button"><i class=" fa fa-gear"></i> Settings</a>
        <a href="/history" class="button"><i class=" fa fa-history"></i> History</a>
    </div>
    <div class="search-results">
        {% for item in items %}
        <div class="result-card">
            <div class="card-details">
                <div class="card-header">
                    <h2 id="card-title" style="color: #FA009A;">{{ item["title"] }}</h2>
                    <p id="card-summary">{{ item["body"] }}</p>
                </div>
                <div class="card-bottom" style="margin-top: 10px;">
                    <a href="{{ item['href'] }}" class="button"><i class=" fa fa-link"></i> Visit</a>
                    <a id="{{ item['href'] }}" class="button save-button"><i class=" fa fa-bookmark"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
<script src="/static/scripts/script.js"></script>
<script src="/static/scripts/search.js"></script>

</html>