/* Themes */

:root[active-theme="light"] {
    --colour1: #F6F8FA;
    --colour2: #FFFFFF;
    --colour3: #24292F;
    --colour4: #979BA3;
    --colour5: #989A9C;
    --colour6: #24292F;
}

:root[active-theme="dark"] {
    --colour1: #02040B;
    --colour2: #0D1116;
    --colour3: #171C22;
    --colour4: #979BA3;
    --colour5: #989A9C;
    --colour6: #6A747F;
}

:root[active-theme="ocean-blue"] {
    --colour1: #1106D6;
    --colour2: #0758FA;
    --colour3: #6905ED;
    --colour4: #B006D6;
    --colour5: #FA009A;
    --colour6: #FFFFFF;
}

:root[active-theme="copia"] {
    --colour1: #571845;
    --colour2: #900C3E;
    --colour3: #C70039;
    --colour4: #FF5733;
    --colour5: #FFC300;
    --colour6: #FFFFFF;
}

:root[active-theme="forest"] {
    --colour1: #1E2735;
    --colour2: #162E3B;
    --colour3: #054C5A;
    --colour4: #005F60;
    --colour5: #FE8C03;
    --colour6: #FFFFFF;
}

:root[active-theme="hackermode"] {
    --colour1: #062F40;
    --colour2: #025951;
    --colour3: #1D734B;
    --colour4: #168C40;
    --colour5: #168C40;
    --colour6: #82D92B;
}

:root[active-theme="material-dark"] {
    --colour1: #121212;
    --colour2: #404040;
    --colour3: #2A2A2A;
    --colour4: #B40E86;
    --colour5: #FF009A;
    --colour6: rgba(255, 255, 255, 0.418);
}

:root[active-theme="mustafa-solar-light"] {
    --colour1: #F6F8FA;
    --colour2: #FFFFFF;
    --colour3: #dadadafb;
    --colour4: #a8a8a8;
    --colour5: #989A9C;
    --colour6: #565656;
}

:root[active-theme="blueberry"] {
    --colour1: #B287FF;
    --colour2: #847BE8;
    --colour3: #95A9FF;
    --colour4: #7BACE8;
    --colour5: #87DCFF;
    --colour6: #FFFFFF;
}

:root[active-theme="garden"] {
    --colour1: #3FA689;
    --colour2: #038C5A;
    --colour3: #D9A87E;
    --colour4: #BF8969;
    --colour5: #593325;
    --colour6: #FFFFFF;
}

:root[active-theme="waves"] {
    --colour1: #1F8C8C;
    --colour2: #24BFA3;
    --colour3: #80BFB4;
    --colour4: #B0D9CD;
    --colour5: #F2EBDC;
    --colour6: #FFFFFF;
}

:root[active-theme="the-silver-rivers"] {
    --colour1: #0A0B0D;
    --colour2: #1B1F26;
    --colour3: #3B4B59;
    --colour4: #6D7E8C;
    --colour5: #B4CBD9;
    --colour6: #FFFFFF;
}
/* CSS */

@media only screen and (max-width: 600px) {
    .title {
        margin-top: 80px;
        font-size: 60px;
    }
    .search {
        font-size: 25px;
        width: 300px;
        height: 25px;
    }
    .content-card {
        width: 300px;
    }
    .menu-bar {
        margin-top: 10px;
    }
    .content-card.settings {
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
} 
  
@media only screen and (min-width: 600px) {
    .title {
        margin-top: 25px;
        font-size: 100px;
    }
    .search {
        font-size: 25px;
        width: 300px;
        height: 25px;
    }
    .content-card {
        width: 300px;
    }
    .menu-bar {
        margin-top: 10px;
    }
} 
  
@media only screen and (min-width: 768px) {
    .title {
        font-size: 100px;
    }
    .search {
        font-size: 30px;
        width: 500px;
        height: 40px;
    }
    .content-card {
        width: 500px;
    }
    .menu-bar {
        margin-top: 10px;
    }
} 
  
@media only screen and (min-width: 992px) {
    .title {
        font-size: 150px;
    }
    .search {
        font-size: 30px;
        width: 600px;
        height: 40px;
    }
    .content-card {
        width: 600px;
    }
    .menu-bar {
        margin-top: 5px;
    }
} 

@media only screen and (min-width: 1200px) {
    .title {
        font-size: 150px;
    }
    .search {
        font-size: 30px;
        width: 600px;
        height: 40px;
    }
    .content-card {
        width: 600px;
    }
    .menu-bar {
        margin-top: 5px;
    }
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--colour1);
    flex-direction: column;
    color: var(--colour5);
    align-items: center;
    display: flex;
}

* {
    padding: 0;
    margin: 0;
}

.button {
    background-color: var(--colour2);
    transition: 0.1s linear;
    text-decoration: none;
    color: var(--colour5);
    /* margin-bottom: 50px; */
    border-radius: 8px;
    padding: 8px 20px;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: var(--colour4);
    color: var(--colour6);
}

.button-icon {
    justify-content: center;
    align-items: center;
    display: flex;
}

.button.text-button {
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.button.blackhole-button {
    justify-content: space-around;
    align-items: center;
    padding: 6px 12px;
    display: flex;  
}

.botton.image-button {
    padding: 6px 12px;
}

.button.save-button {
    padding: 6px 12px;
}

.button.share-button {
    padding: 6px 12px;
}

.button.remove-button {
    padding: 6px 12px;
}

.search {
    background-color: var(--colour2);
    border: 2px solid var(--colour3);
    transition: 0.1s linear;
    text-size-adjust: 10px;
    color: var(--colour6);
    justify-self: center;
    margin-bottom: 0.5%;
    white-space: nowrap;
    border-radius: 8px;
    align-self: center;
    padding: 4px 24px;
    margin: auto;
}

.search::placeholder {
    color: var(--colour3);
    font-style: italic;
}

.search:focus {
    border-color: var(--colour5);
    outline:none;
}

.title {
    margin-bottom: 0%;
}

.tagline {
    margin-bottom: 10%;
    font-size: 25px;
    margin-top: 0%;
}

.menu-bar {
    margin-bottom: 15px;
    display: flex
}

.content-card {
    box-shadow: 0 0 4px var(--colour4);
    background-color: var(--colour3);
    border-color: var(--colour4);
    height: fit-content;
    margin-bottom: 10px;
    flex-direction: row;
    border: 0.5px solid;
    border-radius: 8px;
    padding: 10px 15px;
    overflow: hidden;
    margin-top: auto;
    display: flex;
}

.content-card.settings {
    white-space: nowrap;
    width: auto;
}

.settings-head {
    flex-direction: row;
    display: flex;
}

.card-details {
    justify-content: space-between;
    flex-direction: column;
    height: fit-content;
    text-align: left;
    display: flex;
}

.card-header > a {
    text-decoration: none;
}

.card-bottom {
    margin-bottom: 5px;
}

.card-select {
    background-color: var(--colour2);
    color: var(--colour5);
    border-radius: 8px;
    padding: 6px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.card-inteput {
    border: 2px solid var(--colour3);
    background-color: var(--colour2);
    transition: 0.1s linear;
    color: var(--colour5);
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.card-inteput::placeholder {
    color: var(--colour3);
    font-style: italic;
}

.card-title {
    color: var(--colour5);
}

.card-summary {
    color: var(--colour4);
}

.card-bottom {
    display: flex;
}

.content-control {
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
}

img {
    height: auto;
    width: 100%;
}

.query-error{
    visibility: hidden;
    text-align: center;
}